# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Vscode files
/.vscode
.DS_Store

# Output files
*.gif
*.txt
*.png
*.jpg

# Ignore code used to loop over variables
loop*.cpp
loop*.py